/* body */

/* input Table */
.InTable {
  width: 100%;
}
.InTableRow {
}
.InTableData {
  width: 30px;
  padding: 0px;
  border: 2px solid black;
}
.NodeButton {
  text-align: center;
  width: 100%;
  padding: 10px;
}

/* output Table */
.OutTable {
  width: 100%;
}
.OutTableRow {
}
.OutTableData {
  width: 30px;
  border: 2px solid black;
  padding: 0px;
}
.ValidNode {  
  text-align: center;
  padding: 0.7rem;
  background-color: rgb(150, 255, 150);
}
.InvalidNode {
  text-align: center;
  padding: 0.7rem;
  background-color: rgb(255, 90, 90);
}

.alert {
  background-color: rgb(238, 0, 0);
  color: white;
}
